<body>
    <div class="main-excel-order">
        <div class="container">
            
                <div class="section-title">
                    <h1>発注入力</h1>
                
                        <div class="order-index-item">
                            <div class="order-list">
                                <% @traders.each do |trader| %>
                                <p><%= trader.content %></p>
                            
                                
                                <p>個数</p>
                                <input>
                                <p>値段</p>
                                <input >
                                        
                                
                                
                            </div>
                            <% end %>
                        </div>
                    <input type="submit" value="登録">
                </div>
        </div>

    </div>
</body>