<body>
    <div class="main-excel-order">
        <div class="container">
            <div class="section-title">
                <h1>売上情報</h1>
            </div>
            <div class="sales-index">
                <p>〇年/年間売上</p>
                <p>昨対比</p>
                <p>〇月/月間売上</p>
                <p>昨対比</p>
                <p>週間売上</p>
                <p>昨対比</p>
                <p>当日売上</p>
                <p>昨対比</p>


            </div>
        </div>

    </div>
</body>