<body>
    <div class="container">
        <div class="section-title">
            <h1>新規一覧</h1>
        </div>
        <div class="section-list">
            <a href="/order/traders_new">業者追加</a>
        </div>
        
        

    </div>
</body>