

<body>
    
<div class="main-menu">
    <div class="container">
        <div class="top-wrapper">
            <div class="top-title">
                <h1>営業システムalpha</h1>
                <h1>useful-wonder-system-alpha</h1>
            </div>
            <div class="order-system">
                <a href="/order/index" class="btn hacchu">発注入力へ</a>
                <a href="/expences/index" class="btn expence">経費</a>
                <a href="/order/sales" class="btn sales">売上情報</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer-logo">
            Teppen
        </div>
    </div>
</footer>
</body>
