<body>
    <div class="main">
        <div class="container">
            <div class="section-title">
                <h1>一覧</h1>
            </div>
            <div class="section-list">
                
            </div>
            <% @reports.each do |report| %>
                <div class="reports-index-item">
                    <%= link_to(report.date, "/report/#{report.id}") %>
                </div>
            <% end %>
        

        </div>
    </div>
</body>